:root {
    --background-color-black: #2f303a;
    --background-color: #f5f5f5;
    --background-color-team: #f5f4fa;
    --color-text-black: #212121;
    --color-text-white: #ffffff;
    --accent-color-blue: #2196f3;
    --paragraph-color-text: #757575;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-number-phone: rgba(255, 255, 255, 0.6);
    --border-card-color: #eeeeee;
    --border-header-line: #ececec;
    --icon-svg-color: #afb1b8;
    --bcg-social-color: rgba(255, 255, 255, 0.1);
    --bcg-modal-color: rgba(0, 0, 0, 0.2);
}